.formSection
{
  background-color:black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.submitBtn{
  padding:5px 10px;
  border-radius: 5px;
  margin-top: 5px;
  background-color: blue;
}
.formSection h2{
  color: white;
}
